#dropzone {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background: rgba(0, 0, 0, 0.1);
	display: none;
	align-items: center;
	justify-content: center;
	color: #444;
	font-family: Arial, sans-serif;
	font-size: 1.5em;
  }
